[submodule "simpleflashfs/simpleflashfs"]
	path = simpleflashfs/simpleflashfs
	url = git@github.com:majorkingleo/simpleflashfs.git
[submodule "cpputils/cpputils"]
	path = cpputils/cpputils
	url = git@github.com:majorkingleo/cpputils.git
