missing
COPYING
AUTHORS
README
configure
Makefile
INSTALL
NEWS
.deps
aclocal.m4
ar-lib
autom4te.cache
.dirstamp
compile
config.guess
config.status
config.sub
depcomp
install-sh
ChangeLog

*~
*.a
*.o
*.exe
*.in

sim-NUCLEO-H753ZI-FlashTest

*.i
Debug
*.bin
*.Tpo


